.home-page {
    width: 100%;
}

.header {
    display: inline-block;
    width: 100%;
}

.content-wrapper {
    display: inline-flex;
    width: 100%;
}

.content{
    width: 100%;
    min-width: 20vw;
    margin-left: 5em;
}