.filter-wrapper {
    display: inline-block;
}

.filter-wrapper select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 10em;
  padding: 0.8em;
  color: #ffffff;
  background-image: url(../assets/icon/select@3x.png);
  background-repeat: no-repeat;
  background-size: 1em;
  cursor: pointer;
  background-position-x: 85%;
  background-position-y: 50%;
  outline: none;
}

.filter-wrapper select:hover {
    background-color: rgb(52, 150, 216);
}
