.launch {
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  display: flex;
}

.flight-number {
  font-size: 40px;
  display: inline-block;
  width: 50px;
}

.mission-name {
  font-size: 32px;
  margin-left: 1.8em;
  display: inline-block;
}

.date {
  font-size: 16px;
  text-align: right;
}

.rocket-name {
  font-size: 24px;
  text-align: right;
}

.left-side {
  margin-top: 0.5em;
  margin-left: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.middle {
  justify-content: left;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block; 
}

.right-side {
  margin-right: 1em;
  text-align: justify;
  flex: 1 1 auto;
  padding: 12px;
  width: 20%;
}

@media screen and (max-width: 650px) {
  .flight-number {
    font-size: 30px;
  }

  .mission-name {
    font-size: 25px;
  }

  .date {
    font-size: 9px;
  }

  .rocket-name {
    font-size: 17px;
  }
}