.launch {
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
}

.flight-number {
  font-size: 40px;
  margin-left: 1em;
  
}

.mission-name {
  font-size: 32px;
  margin-left: 1em;
}

.date {
  font-size: 16px;
}

.rocket-name {
  font-size: 24px;
}

.left-side {
  margin-top: 0.5em;
}

.right-side {
  text-align: right;
}



