.reload {
    margin-top: 1em;
    float: right;
}

.reload-btn {
    color: #FFFFFF;
    width: 9em;
    padding: 0.9em;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    cursor: pointer;
}

.reload-btn:hover {
    background-color: rgb(52, 150, 216);
}

.reload-img{
    margin-left: 0.6em;
    padding-left: 0.3em;
    margin-bottom: -0.15em;
    width: 0.8em;
}

